{% load static %}
<!DOCTYPE html>
<html>
<head> 
	
	<title>{% block title %}Accueill {%  endblock %}</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css'%} ">
</head>
<body>

{% block jumbotron %}
	<div class="jumbotron text-center mb-0">
 		<h1>BIENVENUE SUR MA PAGE</h1>
			<p>TUTU COMPANY!</p>
	</div>
{% endblock %}

	{% block nav %}
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<a class="navbar-brand" href="#">Logo</a>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'register' %}">Enregistrer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'addSchool' %}">Ajouter une Ecole</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'addClass' %}">Ajouter une Classe</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}">Deconnexion</a>
    </li>
    
  </ul>
</nav>
	{% endblock %}


	{% block content %}

	{% endblock %}


	{% block footer %}
	<footer>
		<div class="container-fluid mb-0">
			<div class="row">
				<div class="col-md-12 text-center mt-5 bg-dark p-6">
					<p class="text-white">&copy; the crewz 2020/developpers tutu</p>
					
				</div>
			</div>
		</div>
	</footer>


	{% endblock %}

</body>
</html>